name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/-1
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Prepare environment
        run: pnpm dev:prepare

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm vitest run --coverage

      - name: Build
        run: pnpm prepack

      - name: Coverage
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.node == 20 }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
